body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  position:absolute;
  left:0px;
  top:-1px;
  width:360px;
  height:640px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:169px;
}
#u1236 {
  position:absolute;
  left:0px;
  top:70px;
  width:360px;
  height:168px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:76px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:84px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:237px;
  width:360px;
  height:84px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u1240 {
  position:absolute;
  left:8px;
  top:174px;
  width:72px;
  height:72px;
  font-size:14px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:0px;
  top:583px;
  width:360px;
  height:56px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1244 {
  position:absolute;
  left:20px;
  top:588px;
  width:28px;
  height:28px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1246 {
  position:absolute;
  left:20px;
  top:619px;
  width:29px;
  height:16px;
  color:#000000;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1248 {
  position:absolute;
  left:93px;
  top:588px;
  width:28px;
  height:28px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1250 {
  position:absolute;
  left:86px;
  top:619px;
  width:43px;
  height:16px;
  color:#000000;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1252 {
  position:absolute;
  left:166px;
  top:588px;
  width:28px;
  height:28px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1254 {
  position:absolute;
  left:152px;
  top:619px;
  width:57px;
  height:16px;
  color:#000000;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1256 {
  position:absolute;
  left:239px;
  top:588px;
  width:28px;
  height:28px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1258 {
  position:absolute;
  left:239px;
  top:619px;
  width:29px;
  height:16px;
  color:#000000;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u1260 {
  position:absolute;
  left:312px;
  top:588px;
  width:28px;
  height:28px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1262 {
  position:absolute;
  left:312px;
  top:619px;
  width:29px;
  height:16px;
  color:#000000;
}
#u1263 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1264 {
  position:absolute;
  left:15px;
  top:249px;
  width:110px;
  height:22px;
  font-size:18px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1266 {
  position:absolute;
  left:288px;
  top:262px;
  width:12px;
  height:10px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1268 {
  position:absolute;
  left:304px;
  top:262px;
  width:12px;
  height:10px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1270 {
  position:absolute;
  left:321px;
  top:262px;
  width:12px;
  height:10px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1272 {
  position:absolute;
  left:338px;
  top:262px;
  width:12px;
  height:10px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  position:absolute;
  left:12px;
  top:286px;
  width:63px;
  height:25px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1276 {
  position:absolute;
  left:92px;
  top:286px;
  width:62px;
  height:25px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1278 {
  position:absolute;
  left:170px;
  top:286px;
  width:51px;
  height:25px;
}
#u1279 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u1278_ann {
  position:absolute;
  left:214px;
  top:282px;
  width:1px;
  height:1px;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:0px;
  top:-1px;
  width:360px;
  height:28px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u1282 {
  position:absolute;
  left:305px;
  top:7px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1283 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u1284 {
  position:absolute;
  left:280px;
  top:7px;
  width:20px;
  height:12px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1286 {
  position:absolute;
  left:333px;
  top:3px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1288 {
  position:absolute;
  left:12px;
  top:3px;
  width:36px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1290 {
  position:absolute;
  left:271px;
  top:262px;
  width:12px;
  height:10px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u1292 {
  position:absolute;
  left:76px;
  top:249px;
  width:2px;
  height:20px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:169px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:328px;
  width:360px;
  height:168px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:76px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_ann {
  position:absolute;
  left:353px;
  top:324px;
  width:1px;
  height:1px;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:84px;
}
#u1296 {
  position:absolute;
  left:0px;
  top:494px;
  width:360px;
  height:84px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:34px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u1298 {
  position:absolute;
  left:8px;
  top:430px;
  width:72px;
  height:72px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1300 {
  position:absolute;
  left:282px;
  top:519px;
  width:12px;
  height:10px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1302 {
  position:absolute;
  left:298px;
  top:519px;
  width:12px;
  height:10px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1304 {
  position:absolute;
  left:315px;
  top:519px;
  width:12px;
  height:10px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u1306 {
  position:absolute;
  left:332px;
  top:519px;
  width:12px;
  height:10px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:-3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u1308 {
  position:absolute;
  left:0px;
  top:27px;
  width:360px;
  height:44px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1310 {
  position:absolute;
  left:162px;
  top:38px;
  width:55px;
  height:22px;
  font-size:18px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1312 {
  position:absolute;
  left:287px;
  top:37px;
  width:24px;
  height:24px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1314 {
  position:absolute;
  left:311px;
  top:38px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u1316 {
  position:absolute;
  left:52px;
  top:45px;
  width:20px;
  height:8px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1318 {
  position:absolute;
  left:12px;
  top:38px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1320 {
  position:absolute;
  left:15px;
  top:506px;
  width:110px;
  height:22px;
  font-size:18px;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:12px;
  top:543px;
  width:63px;
  height:25px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  position:absolute;
  left:92px;
  top:543px;
  width:62px;
  height:25px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:170px;
  top:543px;
  width:51px;
  height:25px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:23px;
}
#u1328 {
  position:absolute;
  left:76px;
  top:506px;
  width:2px;
  height:20px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1330 {
  position:absolute;
  left:283px;
  top:243px;
  width:55px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1331 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1332 {
  position:absolute;
  left:284px;
  top:500px;
  width:55px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u1333 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
