body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2816 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2818 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:28px;
}
#u2819 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  word-wrap:break-word;
}
#u2820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2820 {
  position:absolute;
  left:333px;
  top:4px;
  width:17px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2821 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2822 {
  position:absolute;
  left:12px;
  top:4px;
  width:36px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2823 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u2824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2824 {
  position:absolute;
  left:0px;
  top:584px;
  width:360px;
  height:56px;
}
#u2825 {
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2826 {
  position:absolute;
  left:20px;
  top:589px;
  width:28px;
  height:28px;
}
#u2827 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2828 {
  position:absolute;
  left:20px;
  top:620px;
  width:29px;
  height:16px;
  color:#000000;
}
#u2829 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2830 {
  position:absolute;
  left:93px;
  top:589px;
  width:28px;
  height:28px;
}
#u2831 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2832 {
  position:absolute;
  left:86px;
  top:620px;
  width:43px;
  height:16px;
  color:#000000;
}
#u2833 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2834 {
  position:absolute;
  left:166px;
  top:589px;
  width:28px;
  height:28px;
}
#u2835 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2836 {
  position:absolute;
  left:152px;
  top:620px;
  width:57px;
  height:16px;
  color:#000000;
}
#u2837 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2838 {
  position:absolute;
  left:239px;
  top:589px;
  width:28px;
  height:28px;
}
#u2839 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2840 {
  position:absolute;
  left:239px;
  top:620px;
  width:29px;
  height:16px;
  color:#000000;
}
#u2841 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2842 {
  position:absolute;
  left:312px;
  top:589px;
  width:28px;
  height:28px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2844 {
  position:absolute;
  left:312px;
  top:620px;
  width:29px;
  height:16px;
  color:#000000;
}
#u2845 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:179px;
}
#u2846 {
  position:absolute;
  left:0px;
  top:27px;
  width:360px;
  height:179px;
}
#u2847 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u2848 {
  position:absolute;
  left:132px;
  top:63px;
  width:96px;
  height:96px;
  font-size:18px;
}
#u2849 {
  position:absolute;
  left:2px;
  top:37px;
  width:92px;
  word-wrap:break-word;
}
#u2850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2850 {
  position:absolute;
  left:160px;
  top:162px;
  width:41px;
  height:16px;
}
#u2851 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2852 {
  position:absolute;
  left:1px;
  top:207px;
  width:118px;
  height:84px;
  font-size:18px;
}
#u2853 {
  position:absolute;
  left:2px;
  top:34px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2854 {
  position:absolute;
  left:121px;
  top:207px;
  width:118px;
  height:84px;
  font-size:18px;
}
#u2855 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u2856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2856 {
  position:absolute;
  left:241px;
  top:207px;
  width:118px;
  height:84px;
  font-size:18px;
}
#u2857 {
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  word-wrap:break-word;
}
#u2858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2858 {
  position:absolute;
  left:26px;
  top:255px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u2859 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2860 {
  position:absolute;
  left:46px;
  top:223px;
  width:29px;
  height:16px;
}
#u2861 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u2862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2862 {
  position:absolute;
  left:137px;
  top:255px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u2863 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u2864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2864 {
  position:absolute;
  left:166px;
  top:221px;
  width:29px;
  height:16px;
}
#u2865 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u2866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2866 {
  position:absolute;
  left:261px;
  top:255px;
  width:79px;
  height:19px;
  font-size:16px;
}
#u2867 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2868 {
  position:absolute;
  left:286px;
  top:221px;
  width:29px;
  height:16px;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u2870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2870 {
  position:absolute;
  left:1px;
  top:301px;
  width:358px;
  height:48px;
  font-size:18px;
}
#u2871 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2872 {
  position:absolute;
  left:20px;
  top:311px;
  width:28px;
  height:28px;
}
#u2873 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2874 {
  position:absolute;
  left:58px;
  top:316px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u2875 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u2876 {
  position:absolute;
  left:336px;
  top:321px;
  width:20px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2877 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2878 {
  position:absolute;
  left:1px;
  top:350px;
  width:358px;
  height:48px;
  font-size:18px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2880 {
  position:absolute;
  left:20px;
  top:360px;
  width:28px;
  height:28px;
}
#u2881 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2882 {
  position:absolute;
  left:58px;
  top:365px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u2884 {
  position:absolute;
  left:336px;
  top:370px;
  width:20px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2885 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2886 {
  position:absolute;
  left:1px;
  top:399px;
  width:358px;
  height:48px;
  font-size:18px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2888 {
  position:absolute;
  left:20px;
  top:409px;
  width:28px;
  height:28px;
}
#u2889 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2890 {
  position:absolute;
  left:58px;
  top:414px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u2891 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u2892 {
  position:absolute;
  left:336px;
  top:419px;
  width:20px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2894 {
  position:absolute;
  left:1px;
  top:448px;
  width:358px;
  height:48px;
  font-size:18px;
}
#u2895 {
  position:absolute;
  left:2px;
  top:16px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2896 {
  position:absolute;
  left:20px;
  top:458px;
  width:28px;
  height:28px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2898 {
  position:absolute;
  left:58px;
  top:463px;
  width:68px;
  height:19px;
  font-size:16px;
}
#u2899 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u2900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u2900 {
  position:absolute;
  left:336px;
  top:468px;
  width:20px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2901 {
  position:absolute;
  left:2px;
  top:-4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2902 {
  position:absolute;
  left:1px;
  top:541px;
  width:358px;
  height:43px;
  font-size:18px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:14px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u2904 {
  position:absolute;
  left:101px;
  top:549px;
  width:28px;
  height:28px;
}
#u2905 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2906 {
  position:absolute;
  left:139px;
  top:554px;
  width:121px;
  height:19px;
  font-size:16px;
}
#u2907 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u2908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2908 {
  position:absolute;
  left:14px;
  top:38px;
  width:20px;
  height:20px;
}
#u2909 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2910 {
  position:absolute;
  left:7px;
  top:61px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2912 {
  position:absolute;
  left:320px;
  top:38px;
  width:20px;
  height:20px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2914 {
  position:absolute;
  left:313px;
  top:61px;
  width:35px;
  height:19px;
  font-size:16px;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u2916 {
  position:absolute;
  left:305px;
  top:8px;
  width:24px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2917 {
  position:absolute;
  left:2px;
  top:-2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u2918 {
  position:absolute;
  left:280px;
  top:8px;
  width:20px;
  height:12px;
}
#u2919 {
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
